.footer {
	width: 100%;
	padding: 15px 10px;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	opacity: .7;
}