.badge {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0479e0;
	color: var(--text-color);
	padding: 5px 10px;
	border-radius: 20px;
}

.completed{
  background-color:#e0b504;
}